<article class="post">
  <h1>Login to submit links</h1>

  <form action="/login" method="post">
    <label>Username:</label>
    <input type="text" name="username"><br/>
    <label>Password:</label>
    <input type="password" name="password"><br/>
    <input type="submit" value="Login">
  </form>
</article>

