<article class="post">
  <h1>Create a new user</h1>

  <form action="/new_user" method="post">
    <label>Username:</label>
    <input type="text" name="username">
    <br/>
    <label>Password:</label>
    <input type="password" name="password">
    <br/>
    <input type="submit" value="Create User">
  </form>
</article>

